# Loading the datasets

In [112]:
# Importing the required libraries
import pandas as pd
import re
import os
from ETL_Functions.etl_functions import load_csv, etl, concat_df

In [113]:
# Get the list of all files in a common directory
path = '../PI01-Data-Engineering/Datasets/'
dir_list = os.listdir(path)

In [114]:
print(f'Files stored in {path}:')
for files in dir_list:  # print all files
    print(files)

Files stored in ../PI01-Data-Engineering/Datasets/:
README.md
disney_plus_titles-score.csv
amazon_prime_titles-score.csv
netflix_titles-score.csv
hulu_titles-score (2).csv

In [115]:
# Load the csv files
for file in dir_list:
    if re.search(r'.csv', file):
        load_csv(path, file)

Succesfull load of disney_plus_titles-score.csv
Succesfull load of amazon_prime_titles-score.csv
Succesfull load of netflix_titles-score.csv
Succesfull load of hulu_titles-score (2).csv

# Transform phase

## 1.- ETL Process

In [116]:
# Transform phase
path_ETL = '../PI01-Data-Engineering/Datasets_for_ETL/'
dir_list_ETL = os.listdir(path_ETL)

In [117]:
print(f'Files stored in {path_ETL}:')
for files_etl in dir_list_ETL:  # print all files
    print(files_etl)

Files stored in ../PI01-Data-Engineering/Datasets_for_ETL/:
df_amazon_prime_titles-score.csv
df_hulu_titles-score (2).csv
df_netflix_titles-score.csv
df_disney_plus_titles-score.csv

In [118]:
etl(path_ETL, files_etl)

In [119]:
amazon = pd.read_csv('../PI01-Data-Engineering/PI_01/amazon.csv')

In [120]:
amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,2021-03-30 00:00:00,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,2021-03-30 00:00:00,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,2021-03-30 00:00:00,74,min

In [121]:
netflix_df = pd.read_csv('../PI01-Data-Engineering/PI_01/netflix.csv')

In [122]:
# 1.- get_word_count('netflix', 'love')
netflix = netflix_df['title'].str.count('love').sum()

In [123]:
print(type(netflix))
print(netflix)

<class 'numpy.int64'>
198

In [124]:
res = dict(platform='netflix', cantidad=str(netflix))

In [125]:
res

{'platform': 'netflix', 'cantidad': '198'}

In [127]:
# 2.- get_score_count('netflix', 85, 2010)
print(len(netflix_df[(netflix_df['score'] > 85) & (netflix_df['release_year'] == 2010)]))

25

In [128]:
# 3.- get_second_score('amazon')
amazon_df = pd.read_csv('../PI01-Data-Engineering/PI_01/amazon.csv')

In [133]:
amazon.sort_values(by=['score', 'title'], ascending=[False, True]).iloc[1]['title']

'15-minute cardio core 8.0 workout (with weights)'

In [149]:
# 4.- get_longest('netflix', 'min', '2016')
netflix_df[(netflix_df['duration_type'] == 'min') & (netflix_df['release_year'] == 2016)].sort_values(by=['duration_int'], ascending=False).head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date,duration_int,duration_type
7922,s7923,movie,sairat,nagraj manjule,"rinku rajguru, akash thosar, arbaz shaikh, tan...",india,"april 1, 2018",2016,tv-14,173 min,"dramas, international movies, romantic movies",when two college students – a rich man’s daugh...,41,ns7923,2018-04-01 00:00:00,173,min

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date,duration_int,duration_type
7922,s7923,movie,sairat,nagraj manjule,"rinku rajguru, akash thosar, arbaz shaikh, tan...",india,"april 1, 2018",2016,tv-14,173 min,"dramas, international movies, romantic movies",when two college students – a rich man’s daugh...,41,ns7923,2018-04-01 00:00:00,173,min

In [141]:
netflix_df[(netflix_df['duration_type'] == 'min') & (netflix_df['release_year'] == 2016)].sort_values(by=['duration_int'], ascending=False)[['title', 'duration','duration_type']].head(1)

       title duration duration_type
7922  sairat  173 min           min

In [145]:
# 5.- get_rating_count('18+')

# Concat all df dataframes
path_df_clean = '../PI01-Data-Engineering/PI_01/'
dir_list_clean = os.listdir(path_df_clean)

In [146]:
concat_df(path_df_clean, dir_list_clean)

Succesful load of amazon.csv
Succesful load of hulu.csv
Succesful load of disney.csv
Succesful load of netflix.csv

In [147]:
df_total = pd.read_csv('../PI01-Data-Engineering/PI_01/df_full.csv')

(df_total['rating'] == '18+').sum()

1243