# TRANSFORMATIONS

In [2]:
import pandas as pd

In [3]:
amazon = pd.read_csv("../PI01-Data-Engineering/Datasets/amazon_prime_titles-score.csv", sep=',')
disney = pd.read_csv("../PI01-Data-Engineering/Datasets/disney_plus_titles-score.csv", sep=',')
hulu = pd.read_csv("../PI01-Data-Engineering/Datasets/hulu_titles-score (2).csv", sep=',')
netflix = pd.read_csv("../PI01-Data-Engineering/Datasets/netflix_titles-score.csv", sep=',')

In [4]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
dtypes: int64(2), object(11)
memory usage: 982.0+ KB

In [5]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  score         1450 non-null   int64
dtypes: int64(2), object(11)
memory usage: 147.4+ KB

In [6]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  score         3073 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 312.2+ KB

In [7]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  score         8807 non-null   int64
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

## 1.- Generating `id`

In [8]:
amazon['id'] = 'a' + amazon['show_id']

In [9]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27,as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75,as5

## 2.- Replacing null values for `'G' (general for all audiences)`

In [10]:
amazon.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
score              0
id                 0
dtype: int64

In [11]:
amazon['rating'].fillna('G', inplace=True)

In [12]:
amazon.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating             0
duration           0
listed_in          0
description        0
score              0
id                 0
dtype: int64

In [13]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27,as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75,as5

## 3.- Formatting the `Date` column to `AAA-mm-dd`

In [14]:
amazon['date_added'].head()

0    March 30, 2021
1    March 30, 2021
2    March 30, 2021
3    March 30, 2021
4    March 30, 2021
Name: date_added, dtype: object

In [15]:
print(type(amazon['date_added'][0]))

<class 'str'>

In [16]:
amazon['date'] = pd.to_datetime(amazon['date_added'])

In [17]:
amazon['date'].head()

0   2021-03-30
1   2021-03-30
2   2021-03-30
3   2021-03-30
4   2021-03-30
Name: date, dtype: datetime64[ns]

## 4.- Converting fields to `lowercase`

In [18]:
for i in amazon.select_dtypes(include='object'):
    amazon[i] = amazon[i].str.lower()

In [19]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,2021-03-30
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,2021-03-30
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,2021-03-30
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,"march 30, 2021",2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4,2021-03-30
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,"march 30, 2021",1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,2021-03-30

In [20]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9668 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
 13  id            9668 non-null   object
 14  date          155 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 1.1+ MB

## 4.- Converting `duration` column to `duration_int` and `duration_type`.

In [21]:
amazon['duration'].head()

0    113 min
1    110 min
2     74 min
3     69 min
4     45 min
Name: duration, dtype: object

In [22]:
duration = amazon['duration'].str.split(" ", n=1, expand=True)

In [23]:
amazon['duration_int'] = duration[0]

In [24]:
amazon['duration_type'] = duration[1]

In [25]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,2021-03-30,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,2021-03-30,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,2021-03-30,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,"march 30, 2021",2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4,2021-03-30,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,"march 30, 2021",1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,2021-03-30,45,min

In [26]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    object
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  listed_in      9668 non-null   object
 11  description    9668 non-null   object
 12  score          9668 non-null   int64
 13  id             9668 non-null   object
 14  date           155 non-null    datetime64[ns]
 15  duration_int   9668 non-null   object
 16  duration_type  9668 non-null   object
dtypes: datetime64[ns](1), int64(2), object(14)
memory usage: 1.3+ MB

In [27]:
amazon['duration_type'].value_counts()

min        7814
season     1342
seasons     512
Name: duration_type, dtype: int64

In [28]:
amazon['duration_type'] = amazon['duration_type'].str.replace('seasons', 'season')

In [29]:
amazon['duration_type'].value_counts()

min       7814
season    1854
Name: duration_type, dtype: int64

In [30]:
amazon['duration_int'] = amazon['duration_int'].astype(int)

In [31]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    object
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  listed_in      9668 non-null   object
 11  description    9668 non-null   object
 12  score          9668 non-null   int64
 13  id             9668 non-null   object
 14  date           155 non-null    datetime64[ns]
 15  duration_int   9668 non-null   int64
 16  duration_type  9668 non-null   object
dtypes: datetime64[ns](1), int64(3), object(13)
memory usage: 1.3+ MB

In [32]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,2021-03-30,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,2021-03-30,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,2021-03-30,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,"march 30, 2021",2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4,2021-03-30,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,"march 30, 2021",1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,2021-03-30,45,min

In [33]:
amazon.isna().sum()

show_id             0
type                0
title               0
director         2082
cast             1233
country          8996
date_added       9513
release_year        0
rating              0
duration            0
listed_in           0
description         0
score               0
id                  0
date             9513
duration_int        0
duration_type       0
dtype: int64

In [34]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        9668 non-null   object
 1   type           9668 non-null   object
 2   title          9668 non-null   object
 3   director       7586 non-null   object
 4   cast           8435 non-null   object
 5   country        672 non-null    object
 6   date_added     155 non-null    object
 7   release_year   9668 non-null   int64
 8   rating         9668 non-null   object
 9   duration       9668 non-null   object
 10  listed_in      9668 non-null   object
 11  description    9668 non-null   object
 12  score          9668 non-null   int64
 13  id             9668 non-null   object
 14  date           155 non-null    datetime64[ns]
 15  duration_int   9668 non-null   int64
 16  duration_type  9668 non-null   object
dtypes: datetime64[ns](1), int64(3), object(13)
memory usage: 1.3+ MB

In [35]:
from deta import Deta

In [36]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,2021-03-30,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,2021-03-30,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,2021-03-30,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,"march 30, 2021",2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4,2021-03-30,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,"march 30, 2021",1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,2021-03-30,45,min

In [37]:
# Initialized with a Project Key
deta = Deta("b0kjxkw3_U44nFzkhjHJAr5EMfQf21hXFyPhzF8Dn")

In [38]:
# This is how to connect to or create a dabatse.
db = deta.Base('Test')

In [39]:
amazon_2 = amazon.copy()

In [40]:
amazon_2.isna().sum()

show_id             0
type                0
title               0
director         2082
cast             1233
country          8996
date_added       9513
release_year        0
rating              0
duration            0
listed_in           0
description         0
score               0
id                  0
date             9513
duration_int        0
duration_type       0
dtype: int64

In [1]:
amazon_2.fillna(value=0, inplace=True)

NameError: name 'amazon_2' is not defined

In [42]:
amazon_2.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         0
listed_in        0
description      0
score            0
id               0
date             0
duration_int     0
duration_type    0
dtype: int64

In [43]:
# amazon_2 = amazon_2.to_dict()

In [44]:
# for i in amazon_2.keys():
#     print(amazon_2[i])
# for key in amazon_2:
#     print(key, amazon_2[key])

In [45]:
# db.put({'name': 'Danya', 'age': 30})

In [46]:
# db.get('3ef95yfc83ai')

In [47]:
amazon_2.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,date,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,2021-03-30 00:00:00,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,2021-03-30 00:00:00,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,2021-03-30 00:00:00,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyonc√©, britney...",united states,"march 30, 2021",2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4,2021-03-30 00:00:00,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,"march 30, 2021",1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,2021-03-30 00:00:00,45,min

In [48]:
amazon_3 = amazon_2.to_dict(orient='records')

In [56]:
amazon_3[0:2]

[{'show_id': 's1',
  'type': 'movie',
  'title': 'the grand seduction',
  'director': 'don mckellar',
  'cast': 'brendan gleeson, taylor kitsch, gordon pinsent',
  'country': 'canada',
  'date_added': 'march 30, 2021',
  'release_year': 2014,
  'rating': 'g',
  'duration': '113 min',
  'listed_in': 'comedy, drama',
  'description': "a small fishing village must procure a local doctor to secure a lucrative business contract. when unlikely candidate and big city doctor paul lewis lands in their lap for a trial residence, the townsfolk rally together to charm him into staying. as the doctor's time in the village winds to a close, acting mayor murray french has no choice but to pull out all the stops.",
  'score': 99,
  'id': 'as1',
  'date': Timestamp('2021-03-30 00:00:00'),
  'duration_int': 113,
  'duration_type': 'min'},
 {'show_id': 's2',
  'type': 'movie',
  'title': 'take care good night',
  'director': 'girish joshi',
  'cast': 'mahesh manjrekar, abhay mahajan, sachin khedekar',
  'country': 'india',
  'date_added': 'march 30, 2021',
  'release_year': 2018,
  'rating': '13+',
  'duration': '110 min',
  'listed_in': 'drama, international',
  'description': 'a metro family decides to fight a cyber criminal threatening their stability and pride.',
  'score': 37,
  'id': 'as2',
  'date': Timestamp('2021-03-30 00:00:00'),
  'duration_int': 110,
  'duration_type': 'min'}]

In [54]:
for i in amazon_3[0:2]:
    print(i)

{'show_id': 's1', 'type': 'movie', 'title': 'the grand seduction', 'director': 'don mckellar', 'cast': 'brendan gleeson, taylor kitsch, gordon pinsent', 'country': 'canada', 'date_added': 'march 30, 2021', 'release_year': 2014, 'rating': 'g', 'duration': '113 min', 'listed_in': 'comedy, drama', 'description': "a small fishing village must procure a local doctor to secure a lucrative business contract. when unlikely candidate and big city doctor paul lewis lands in their lap for a trial residence, the townsfolk rally together to charm him into staying. as the doctor's time in the village winds to a close, acting mayor murray french has no choice but to pull out all the stops.", 'score': 99, 'id': 'as1', 'date': Timestamp('2021-03-30 00:00:00'), 'duration_int': 113, 'duration_type': 'min'}
{'show_id': 's2', 'type': 'movie', 'title': 'take care good night', 'director': 'girish joshi', 'cast': 'mahesh manjrekar, abhay mahajan, sachin khedekar', 'country': 'india', 'date_added': 'march 30, 2021', 'release_year': 2018, 'rating': '13+', 'duration': '110 min', 'listed_in': 'drama, international', 'description': 'a metro family decides to fight a cyber criminal threatening their stability and pride.', 'score': 37, 'id': 'as2', 'date': Timestamp('2021-03-30 00:00:00'), 'duration_int': 110, 'duration_type': 'min'}

In [57]:
df_test = pd.read_csv('../PI01-Data-Engineering/Datasets/api.csv')

In [58]:
df_test.head()

   build_id    state
0         1  success
1         2  failure
2         3  aborted
3         4  failure
4         5  success